Repository rofinn/rabbet: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, cargo-fmt, cargo-check, cargo-clippy-fix, cargo-llvm-cov-nextest, cargo-lock-check

.pre-commit-config.yaml:

repos:
  # General file fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: fix-byte-order-marker

  # Check for common misspellings
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--builtin=clear, rare, informal, usage, code, names]
        exclude: ^(Cargo\.lock|target/|\.github/.*\.yml)$

  # Rust-specific checks (using local hooks)
  - repo: local
    hooks:
      # Shell script linting
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: scripts/
        pass_filenames: true

      # Format check first (cheapest operation)
      - id: cargo-fmt
        name: rustfmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false

      # Then syntax/type checking
      - id: cargo-check
        name: cargo check
        entry: cargo check --locked
        language: system
        types: [rust]
        pass_filenames: false

      # Linting with automatic fixes
      - id: cargo-clippy-fix
        name: clippy (fix)
        entry: cargo clippy --fix --allow-dirty
        language: system
        types: [rust]
        pass_filenames: false

      # Run tests last (most expensive)
      - id: cargo-llvm-cov-nextest
        name: test
        entry: cargo llvm-cov nextest
        language: system
        types: [rust]
        pass_filenames: false

      # Check for outdated dependencies (manual stage)
      - id: cargo-outdated
        name: check for outdated dependencies
        entry: cargo outdated --exit-code 1
        language: system
        pass_filenames: false
        stages: [manual]

      # Security audit (manual stage)
      - id: cargo-audit
        name: security audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]

      # Check that Cargo.lock is up to date
      - id: cargo-lock-check
        name: check Cargo.lock is up to date
        entry: cargo check --locked
        language: system
        types: [rust]
        pass_filenames: false

Don't run llvm-cov for pre-commit
  .pre-commit-config.yaml
Due: none

Remove bencher and just add some basic size/performance thresholds.
  .github/workflows/benchmark.yml
  Cargo.lock
  Cargo.toml
  scripts/benchmark
Due: shellcheck

Remove unnecessary compilation during CI.
  .github/workflows/CI.yml
Due: none

Add an aggregate subcommand
  README.md
  scripts/benchmark
  src/aggregate.rs
  src/args.rs
  src/cat.rs
  src/head.rs
  src/main.rs
  src/query.rs
  src/tail.rs
  tests/aggregate/describe-operation.trycmd
  tests/aggregate/error-invalid-operation.trycmd
  tests/aggregate/error-invalid-underscore.trycmd
  tests/aggregate/error-missing-args.trycmd
  tests/aggregate/first-last.trycmd
  tests/aggregate/help.trycmd
  tests/aggregate/multiple-aggregations.trycmd
  tests/aggregate/multiple-groupby.trycmd
  tests/aggregate/no-grouping.trycmd
  tests/aggregate/row-count.trycmd
  tests/aggregate/simple-aggregation.trycmd
  tests/cat/basic.trycmd
  tests/data/iris/iris.csv
  tests/data/orders/customers.csv
  tests/data/orders/orders.csv
  tests/data/orders/products.csv
  tests/head/basic.trycmd
  tests/help/help.trycmd
  tests/join/csv-format.trycmd
  tests/join/left-join.trycmd
  tests/query/invalid-sql.trycmd
  tests/tail/basic.trycmd
Due: shellcheck, cargo-fmt, cargo-check, cargo-clippy-fix, cargo-llvm-cov-nextest, cargo-lock-check

Added completions and improved help text.
  Cargo.lock
  Cargo.toml
  src/aggregate.rs
  src/args.rs
  src/cat.rs
  src/head.rs
  src/join.rs
  src/query.rs
  src/tail.rs
  tests/aggregate/help.trycmd
  tests/help/help.trycmd
  tests/join/help.trycmd
Due: cargo-fmt, cargo-check, cargo-clippy-fix, cargo-llvm-cov-nextest, cargo-lock-check

Add mdbook gh-pages workflow
  .github/workflows/docs.yml
Due: none

Update gitignore file and change a couple book.toml settings.
  .gitignore
  docs/book.toml
Due: none

Fix zizmor issue in docs.yml and path in CI/docs.
  .github/workflows/CI.yml
  .github/workflows/docs.yml
Due: none
